:root{
    --primary-color: #49b14d;
    --white-text:white;
    --black-text: #3c3c3c;
    --yellow: #ffdd20;
    --light-green: #6dc171;
}

*{  
    font-family: 'Zen Old Mincho', serif;
    padding: 0;
    margin: 0;
}

