:root{
    --lighter-green: #d5e6d2;
    --light-green:#abd373;
    --white-text:white;
    --black-text: #3c3c3c;
    --yellow: #ffdd20;
    --green: #6dc171;
    --animation-hover: .3s ease;
}

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Zen Old Mincho', serif;
}


