/* header */

.app{

}
.header{
    height: 120px;
    background-color: var(--light-green);
}

.header__top-head{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid var(--lighter-green);
}

.header__social{
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    
}

.header__social span{
    font-size: 1.9rem;
    color: var(--white-text);
}

.header__social-link{
    display: inline-block;
    color: var(--white-text);
    padding: 0 5px;
    margin: 0 5px;
    font-size: 1.9rem;
    transition: var(--animation-hover);
}

.header__social-link:hover{
    color: var(--yellow);
}

.header__user{
    display: flex;
    align-items: center;
    
}
.header__user-login{
    font-size: 1.9rem;
    color: var(--white-text);
}

.header__user-login:hover .header__user-link{
    color: var(--yellow);
}

.header__user-register{
    font-size: 1.9rem;
    margin-left: 10px;
    color: var(--white-text);
}

.header__user-register:hover .header__user-link{
    color: var(--yellow);
}

.header__user-link{
    align-items: center;
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--white-text);
    transition: var(--animation-hover);
}

.header__user-link span{
    padding-right: 5px;
}

.header__top-body{
    display: flex;
    justify-content: space-around;
}

.header__logo{
    text-align: center;
}

.header__logo-link img{
   max-width: 100%;
   max-height: 100%;
   padding: 10px;
}

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__search input{
    background-color: var(--lighter-green);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: transparent;
    padding: 20px;
    height: 50px;
    width: 500px;
    outline: none;
    font-size: 1.6rem;
}

.header__search button{
    background-color: var(--lighter-green);
    padding: 20px;
    height: 50px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.header__search-icon{
    color: var(--black-text);
    transition: var(--animation-hover);
}

.header__search button:hover .header__search-icon{
    color: var(--green);
} 

.header__search-link{
    display: block;
}

.header__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
}

.header__cart button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    align-items: center;
    
}

.header__cart-icon{
    font-size: 3rem;
    color: var(--black-text);
    transition: var(--animation-hover);
}


.header__cart button:hover .header__cart-icon{
    color: var(--yellow);
}


.header__bottom{
    line-height: 3rem;
    background-color: var(--white-text);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 8%);
}

.navbar{
    text-align: center;
    line-height: 6rem;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: center
}

.nav__item{
    position: relative;
    margin:0 10px;
    list-style: none;
}

.nav__item-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    border-radius: 6px;
    background-color: var(--yellow);
    transition: width .4s ease-in-out;
}

.nav__item-link:hover::before{
    width: 100%;
}

.nav__item-link{
    font-weight: 900;
    padding: 10px;
    font-size: 2rem;
    text-decoration: none;
    color: var(--black-text);
    transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.nav__item:hover .nav__item-link{
    color: var(--yellow);
} 



#nav__produce-icon{
    margin-left: 10px;
}



